Repository woowa-techcamp-2021/deal-14, pull requests merged in 2021-07, with the labels that each got.

#53 fix: ProductImage 클래스 export
  backend/src/query/product-image.query.ts
Labels: backend, bug, enhancement

#55 feat: LikedProduct 베이스코드
  backend/src/models/liked-product.ts
  backend/src/query/base.query.ts
  backend/src/query/liked-product.query.ts
Labels: backend, feature

#62 feat: 동네 설정 관련 API
  backend/src/controllers/town.controller.ts
  backend/src/controllers/user-town.controller.ts
  backend/src/query/town.query.ts
  backend/src/query/user-town.query.ts
  backend/src/requests/town.request.ts
  backend/src/routes/town/index.ts
  backend/src/services/town.service.ts
  backend/src/services/user-town.service.ts
  backend/src/utils/select-sql-generator.ts
Labels: backend, feature

#64 fix: 좋아요 관련 API 파라미터 검증
  backend/src/controllers/liked-product.controller.ts
Labels: backend, bug

#65 feat: 인증 없이 접근 가능한 미들웨어
  backend/src/middlewares/access-auth.middleware.ts
Labels: backend, feature

#66 feat: 상품 관련 API
  backend/init.sql
  backend/src/controllers/product.controller.ts
  backend/src/interfaces/product/index.ts
  backend/src/models/product.ts
  backend/src/query/liked-product.query.ts
  backend/src/query/product-image.query.ts
  backend/src/query/product.query.ts
  backend/src/requests/product.request.ts
  backend/src/routes/product/index.ts
  backend/src/services/product.service.ts
Labels: backend, feature

#68 fix: 상품 등록 시 상품 정보 응답
  backend/src/controllers/product.controller.ts
  backend/src/requests/product.request.ts
Labels: backend, enhancement

#72 fix: select 함수의 매개변수, 반환값 타입 지정
  frontend/src/util/select.ts
Labels: bug, enhancement, frontend

#73 feat: PR 템플릿
  .github/PULL_REQUEST_TEMPLATE.md
Labels: enhancement

#74 0715 PR 템플릿 제 의견 조미료 아주 조금 첨가
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation, enhancement

#76 feat: 동네 설정 페이지 레이아웃 개발
  frontend/src/App.ts
  frontend/src/components/Town.ts
  frontend/src/public/css/Town.css
  frontend/src/svgicon/CloseButton.ts
  frontend/src/svgicon/PlusButton.ts
  frontend/src/templates/AddModal/index.css
  frontend/src/templates/AddModal/index.ts
  frontend/src/templates/OpenAddModalButton/index.css
  frontend/src/templates/OpenAddModalButton/index.ts
  frontend/src/templates/RemoveModal/index.css
  frontend/src/templates/RemoveModal/index.ts
  frontend/src/templates/UserTownItem/index.css
  frontend/src/templates/UserTownItem/index.ts
  frontend/src/types/town.ts
  frontend/src/types/userTown.ts
  frontend/src/util/convertEventTarget.ts
Labels: feature, frontend

#83 feat: Chat 관련 API 개발
  backend/init.sql
  backend/src/controllers/charmessage.controller.ts
  backend/src/controllers/chat-message.controller.ts
  backend/src/controllers/chat-room.controller.ts
  backend/src/controllers/chatroom.controller.ts
  backend/src/enum/chatmessage/index.ts
  backend/src/enum/chatroom/index.ts
  backend/src/main.ts
  backend/src/models/chat-message.ts
  backend/src/models/chat-room.ts
  backend/src/models/product.ts
  backend/src/query/chat-message.query.ts
  backend/src/query/chat-room.query.ts
  backend/src/query/chatmessage.query.ts
  backend/src/requests/chat-message.request.ts
  backend/src/requests/chatmessage.request.ts
  backend/src/requests/chatroom.request.ts
  backend/src/routes/chat-message/index.ts
  backend/src/routes/chat-room/index.ts
  backend/src/routes/chatmessage/index.ts
  backend/src/routes/chatroom/index.ts
  backend/src/routes/index.ts
  backend/src/services/chat-message.service.ts
  backend/src/services/chat-room.service.ts
  backend/src/services/chatmessage.service.ts
  backend/src/services/chatroom.service.ts
  backend/src/services/product.service.ts
  backend/src/socket/chat.ts
  backend/src/socket/index.ts
Labels: backend, feature

#84 feat: 채팅하기 페이지 개발
  frontend/src/App.ts
  frontend/src/components/Chat/ChatMessage/index.css
  frontend/src/components/Chat/ChatMessage/index.ts
  frontend/src/components/Chat/ChatProduct/index.css
  frontend/src/components/Chat/ChatProduct/index.ts
  frontend/src/components/Chat/LeaveChatModal/index.css
  frontend/src/components/Chat/LeaveChatModal/index.ts
  frontend/src/components/Chat/index.ts
  frontend/src/components/ChatRoom/ChatRoomItem/index.css
  frontend/src/components/ChatRoom/ChatRoomItem/index.ts
  frontend/src/components/ChatRoom/ChatRoomList/index.ts
  frontend/src/components/ChatRoom/index.ts
  frontend/src/public/css/Chat.css
  frontend/src/requests/chatMessage.ts
  frontend/src/requests/chatRoom.ts
  frontend/src/requests/town.ts
  frontend/src/svgicon/Logout.ts
  frontend/src/svgicon/SendButton.ts
  frontend/src/types/chatMessage.ts
  frontend/src/types/chatRoom.ts
  frontend/src/types/productImage.ts
  frontend/src/util/api.ts
  frontend/src/util/price.ts
Labels: feature, frontend

#87 feat: 상품 수정, 삭제 API 개발 및 auth, upload 쪽 환경변수 설정 변경
  backend/.env.sample
  backend/init.sql
  backend/src/config/dotenv.ts
  backend/src/controllers/auth.controller.ts
  backend/src/controllers/product.controller.ts
  backend/src/controllers/upload.controller.ts
  backend/src/requests/product.request.ts
  backend/src/routes/product/index.ts
  backend/src/services/product.service.ts
Labels: backend, enhancement, feature

#92 feat: 채팅방 리스트 페이지
  backend/src/models/chat-room.ts
  backend/src/query/chat-room.query.ts
  backend/src/services/chat-room.service.ts
  frontend/src/App.ts
  frontend/src/components/Chat/index.ts
  frontend/src/components/ChatRoom/ChatRoomItem/index.css
  frontend/src/components/ChatRoom/ChatRoomItem/index.ts
  frontend/src/components/ChatRoom/ChatRoomList/index.css
  frontend/src/components/ChatRoom/ChatRoomList/index.ts
  frontend/src/components/ChatRoom/index.css
  frontend/src/components/ChatRoom/index.ts
  frontend/src/requests/chatRoom.ts
  frontend/src/types/chatRoom.ts
  frontend/src/util/time.ts
Labels: feature, frontend
